.carousel {
  & .prev {
    @apply left-0 w-[35px] md:w-[56px] h-[35px] md:h-[56px] rounded-[50%] bg-white z-10 focus:outline-none hover:bg-red-100;
    box-shadow: 0px 30px 44px rgba(0, 0, 0, 0.1);

    & svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  & .custom {
    display: none;
  }

  & .prev::before {
    display: none;
  }

  & .next {
    @apply right-0 w-[35px] md:w-[56px] h-[35px] md:h-[56px] rounded-[50%] bg-white z-10 focus:outline-none hover:bg-red-100;
    box-shadow: 0px 30px 44px rgba(0, 0, 0, 0.1);

    & svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  & .next::before {
    display: none;
  }
}
