.btn {
  @apply py-[12px] md:py-[15px] px-[18px] md:px-[25px];
  background: linear-gradient(90deg, #c8134f 0%, #ee5386 100%);
  border-radius: 10px;
  color: white;
  font-size: 20px;
  font-weight: 500;
  transition-duration: 0.5s;
}

.btn:hover {
  background: linear-gradient(270deg, #c8134f 0%, #ee5386 100%);
}

.cta {
  background: #ea2667;
  border-radius: 6px;
  color: white;
  font-size: 20px;
  padding: 10px 16px;
  font-weight: 500;
  transition-duration: 0.1s;
}

.cta:hover {
  background: white;
  border-radius: 6px;
  color: #ea2667;
  border: 2px solid #ea2667;
}

.center {
  @apply absolute top-1/2 left-1/2;
  transform: translate(-50%, -50%);
}

.slick-track {
  display: flex !important;
  align-items: center;
}

.showDescription {
  height: 100px !important;
  transform: scaleY(1) !important;
}

.ariaExpanded svg {
  transform: rotate(90deg) !important;
  transition: all 0.4s;
}

.btn_quote {
  @apply py-[12px] md:py-[15px] px-[18px] md:px-[25px];
  background: linear-gradient(90deg, #c8134f 0%, #ee5386 100%);
  border-radius: 10px;
  color: white;
  font-size: 20px;
  font-weight: 500;
  transition-duration: 0.5s;
}
.btn_quote:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

.fade-in-section {
  opacity: 0;
  transform: translateY(2vh);
  visibility: hidden;
  transition: opacity 1200ms ease-out, transform 600ms ease-out, visibility 1200ms ease-out;
  will-change: opacity, transform, visibility;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.fade-in {
  opacity: 0;
  transform: translateY(10vh);
  visibility: hidden;
  transition: opacity 1200ms ease-out, transform 600ms ease-out, visibility 1200ms ease-out;
  will-change: opacity, transform, visibility;
}

.fade-in.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}
