.item {
  // @apply mb-4;

  & .subnav {
    @apply h-2 overflow-hidden mt-2;
  }

  & .active {
    @apply h-auto;
  }

  & .icon {
    transition: all 0.3s;
  }

  & .activeLink {
    @apply bg-[#F5F4FA];
  }

  & .rotate {
    transform: rotate(90deg);
    transition: all 0.3s;
  }

  & .nav_title {
    @apply flex items-center cursor-pointer justify-between bg-[#F5F4FA] font-semibold md:py-3 px-2 lg:px-4 rounded-[10px] md:text-lg;

    & svg {
      @apply h-4;
    }
  }

  & .link {
    @apply md:text-lg my-2 py-1 rounded-lg text-left pl-4 lg:pl-10;
  }
}
